name: CI/CD Process

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Amper dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.amper
            ~/.konan
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-amper-${{ hashFiles('**/module.yaml', 'project.yaml') }}
          restore-keys: |
            ${{ runner.os }}-amper-

      - name: Make Amper wrapper executable
        if: runner.os != 'Windows'
        run: chmod +x ./amper

      - name: Build with Amper
        shell: bash
        run: ./amper build

      - name: Run tests
        shell: bash
        run: ./amper test

  success:
    runs-on: ubuntu-24.04
    needs:
      - build
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}

